$hitchgreen:#5cd686;

@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
}

header{
	
	background-color:$hitchgreen;
	
	
	.nav-bar {
		padding-top:5px;
		margin-left:15px;
		margin-top:0px;
		height:130px;
		

			li {
			font-size:20px;
			display:inline;
			padding:5px;

				.logo {
				font-size:20px;

				}
			}
		}
	}	



body{
	.jumbotron{
	height:490px;
	/*padding:50px;*/
	background-image:url('../../images/Brads.JPG');
		h1{
			margin-left: 100px;
			margin-top: 80px;
			font-family: hitchFontTitles;
			color: $hitchgreen;
		}
	}

	.hitcher{
	width:180px;
	background-color:#FFCC00;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:150px;
	margin-left: 220px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:40px;
	}

	.driver{
	width:180px;
	background-color:#FFCC00;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:150px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:40px;
	padding-left:40px;
	}
}


