$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;
$hitchHeaderFooter: #DEDECE;


@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

.nav-bar {
	height:4em;
	padding-top: 1em;
	background-color: black;
	position: fixed;
	z-index: 1;
	width:100%;
	/*F&C*/
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	 	
		ul{
			h2{
				color: $hitchGreen;
				margin-top: 0em;
					a{
						text-decoration: none;
						color: $hitchGreen;
					}

			}

			li{
				display:inline;
				font-family: 'Oxygen', sans-serif;
				font-size: 1.25em;
				font-weight: bold;
				color: $hitchGreen;
					a{
						text-decoration: none;
						color: $hitchGreen;
					}
			}
		}
}

.nav-bar-edit{
	background-color: $hitchGrey;
	padding-top: 8px;
	height:30px;
		ul{
			h2{
				font-size: 1.5em;
			}
		}
}

body{
	height:auto;
	.jumbotron{
		height: 100vh;
		z-index: 0;
		margin-top: auto;
		margin-bottom: auto;
		background-image:url('../../images/blurred.JPG');
		background-repeat: no-repeat;
		background-size: 100%;
		opacity: 0.85;
			/*.hatchs{

				background-image:url('../../images/Hitch01.png');
				background-repeat: no-repeat;
				opacity: 0.8;
				height:100px;
				margin-left: 50px;
				z-index: 2;
				box-shadow: 10px 10px 10px black;

			}*/

			h1 {


				font-family: 'Oxygen', sans-serif;
				height: 1em;
				margin-left: 0em;
				margin-top: 2.5em;
				color: #9BD3AF;
				opacity: 1;
			}
	}
}	

#homepage {
	font-family: 'Oxygen', sans-serif;
	height: 3em;
	color: white;
	margin-bottom: -1em;
	margin-left: 0em;
	font-size: 4em;

}
/* BUTTON STYLES */


body {
    text-align: center;
}

#button {
    display: inline-block;
    margin-top: 20%;
    border-radius: 8px;
    box-shadow: 0 8px 0 #7fdb9d;
    font-size: 1.8em;
    color: #fff;
}

#button span {
    display: inline-block;
    padding: 0.7em 1em;
    background-color: $hitchGreen;
  
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(111, 142, 111, 0.8), rgba(33, 247, 33, 0.21));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(111, 142, 111, 0.8), rgba(33, 247, 33, 0.21));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(111, 142, 111, 0.8), rgba(33, 247, 33, 0.21));
 	border-radius: 8px;
    box-shadow: inset 0 -1px 1px #7fdb9d;
    font-family: 'Oxygen', sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  
}

#button:hover span {
    background-color: #7fdb9d;
    text-shadow: 0 -1px 1px #7fdb9d, 0 0 5px #7fdb9d;
}

#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #7fdb9d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #7fdb9d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #7fdb9d, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}




.nav-bar ul li a, .nav-bar ul li a:hover {
	cursor: pointer;

}
