$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;

@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
}


header{
	height:42px;
	z-index: 1;
	/*position:fixed;*/
	width:100%;
	background-color:$hitchGreen;
	
	
	.nav-bar {
		padding-top:5px;
		margin-left:15px;
		margin-top:0px;
		height:40px;

		ul.pull-left.col-md-4{
			
			li {
				font-size: 20px;	
			}
		}


			li {
			font-family: hitchFontSubtitles;
			font-size:15px;
			display:inline;
			padding: 5px;



				}
			}
		}	

body{
	height:100%;
	.jumbotron{
		z-index: 1;
		top:auto;
		bottom: auto;
		position: absolute;
		min-height:100%;
		background-image:url('../../images/Brads.JPG');
			.hatchs{

				background-image:url('../../images/Hitch01.png');
				background-repeat: no-repeat;
				height:100px;
				margin-left: 50px;
				z-index: 2;
				box-shadow: 10px 10px 5px black;

			}

			h1{
				margin-left: 10px;
				margin-top: 5px;
				font-family: hitchFontTitles;
				color: black;
			}
	}

	.hitcher{
	width:180px;
	background-color:$hitchGreen;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:180px;
	margin-left: 220px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:40px;
	box-shadow: 10px 10px 5px black;
	}

	.hitcher2{
	width:180px;
	background-color:$hitchGreen;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:180px;
	margin-left: 220px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:40px;
	
	}

	.driver{
	width:180px;
	background-color:$hitchGreen;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:180px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:40px;
	padding-left:40px;
	box-shadow: 10px 10px 5px black;
	}
}


