

header{
	background-color:grey;
	border:dotted;
	.nav-bar {
		margin:25px;
		height:50px;
		background-color:grey;

			li {
			display:inline;
			padding:5px;
			}
		}
	}	

body{
	/*border:dashed;*/
	height:600px;
	/*background-color:#47D147;*/

	#jumbotron{
	background-color:#B2CCCC;
	height:400px;
	border:solid;
	padding:50px;
	clear:both;
	/*margin:450px;*/
	}

	#hitcher{
	/*clear:both;*/
	font-size:15px;
	margin-left:250px;
	margin-top:50px;
	border:solid;
	border-radius:15%;
	padding:20px;
	float:left;
	}

	#driver{
	/*clear:both;*/
	font-size:15px;
	margin-right:250px;
	margin-top:50px;
	border:solid;
	border-radius:15%;
	padding:20px;
	float:right;

	}
}


