$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;

@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

.nav-bar {
	height:50px;
	padding-top: 8px;
	background-color: $hitchGreen;
	position: fixed;
	z-index: 1;
	width:100%;

	/*padding-top:5px;
	margin-left:15px;
	margin-top:0px;
	height:42px;*/ 
		li{
			display:inline;
			font-family: hitchFontSubtitles;
			font-size: 15px;

		}

		.pull-left
			li{
				font-size: 25px;
			}
		}
	

			/*li {
			font-family: hitchFontSubtitles;
			font-size:15px;
			display:inline;
			padding: 5px;
				}*/
			
		

/*headeredit{
	height:42px;
	z-index: 1;
	position:fixed;
	width:100%;
	background-color:$hitchGreen;
	
	
	.nav-bar {
		padding-top:5px;
		margin-left:15px;
		margin-top:0px;
		height:40px;

			li {
			font-family: hitchFontSubtitles;
			font-size:15px;
			display:inline;
			padding: 5px;
				}
			}
		}*/

body{
	height:auto;
	.jumbotron{
		z-index: 0;
		margin-top: 50px;
		bottom: auto;
		position: absolute;
		min-height:100%;
		background-image:url('../../images/Brads.JPG');
			.hatchs{

				background-image:url('../../images/Hitch01.png');
				background-repeat: no-repeat;
				opacity: 0.75;
				height:100px;
				margin-left: 50px;
				z-index: 2;
				/*box-shadow: 10px 10px 10px black;*/

			}

			h1{
				margin-left: 10px;
				margin-top: 5px;
				font-family: hitchFontTitles;
				color: red;
				opacity: 1;
			}
	}

	.hitcher{
	width:180px;
	background-color:$hitchGreen;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:180px;
	margin-left: 220px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:40px;
	box-shadow: 10px 10px 5px black;
	}

	.driver{
	width:180px;
	background-color:$hitchGreen;
	font-size:15px;
	font-family: hitchFontSubtitles;
	margin-top:180px;
	border:dashed;
	border-radius:25%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:40px;
	padding-left:40px;
	box-shadow: 10px 10px 5px black;
	}

	}

/*divs react*/

.hitcher, .hitcher:hover {
	cursor:pointer;
	box-shadow: 5px 5px 5px black;
	border:solid;

	h2 {
		cursor:pointer;
	}
}
	
.driver, .driver:hover {
	cursor:pointer;
	box-shadow: 5px 5px 5px black;
	border: solid;

	h2 {
		cursor:pointer;
	}
}


.nav-bar, .nav-bar:hover {
	cursor:pointer;

}

