$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;
$hitchHeaderFooter: #DEDECE;


@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

.nav-bar {
	height:4em;
	padding-top: 1em;
	background-color: black;
	position: fixed;
	z-index: 1;
	width:100%;
	/*F&C*/
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
	 	
		ul{
			h2{
				color: $hitchGreen;
				margin-top: 0em;
					a{
						text-decoration: none;
						color: $hitchGreen;
					}

			}

			li{
				display:inline;
				font-family: hitchFontSubtitles;
				font-size: 1.25em;
				font-weight: bold;
				color: $hitchGreen;
					a{
						text-decoration: none;
						color: $hitchGreen;
					}
			}
		}
}

.nav-bar-edit{
	background-color: $hitchGrey;
	padding-top: 8px;
	height:30px;
		ul{
			h2{
				font-size: 1.5em;
			}
		}
}

body{
	height:auto;
	.jumbotron{
		height:45em;
		z-index: 0;
		margin-top: auto;
		margin-bottom: auto;
		background-image:url('../../images/blurred.JPG');
		background-repeat: no-repeat;
		background-size: 100%;
		opacity: 0.85;
			/*.hatchs{

				background-image:url('../../images/Hitch01.png');
				background-repeat: no-repeat;
				opacity: 0.8;
				height:100px;
				margin-left: 50px;
				z-index: 2;
				box-shadow: 10px 10px 10px black;

			}*/

			h1{
				height: 3em;
				margin-left: 1em;
				margin-top: 0.5em;
				font-family: hitchFontTitles;
				color: $hitchGreen;
				opacity: 1;
			}
	}

/* BUTTON STYLES */

	.hitcher{
		width:12em;
		background-color:$hitchGrey;
		font-family: hitchFontSubtitles;
		margin-top:12em;
		margin-left: 27em;
		margin-right: 15em;
		border-radius:0%;
		padding-top:1.5em;
		padding-bottom:1.5em;
		padding-left:1.9em;
		box-shadow: 10px 10px 5px black;
			h2{
				color:$hitchGreen;
			}
	}

	.driver{
		width:12em;
		background-color:$hitchGrey;
		font-family: hitchFontSubtitles;
		margin-top:12em;
		border-radius:0%;
		padding-top:1.5em;
		padding-bottom:1.5em;
		padding-left: 2.6em;
		box-shadow: 10px 10px 5px black;
			h2{
				color:$hitchGreen;
			}
	}

	}

/*BUTTON REACTIONS*/

.hitcher, .hitcher:hover {
	cursor:pointer;
	box-shadow: 5px 5px 5px black;
	background-color: $hitchGreen;
	transition:1s;

	h2 {
		cursor:pointer;
		color: $hitchGrey;
	}
}
	
.driver, .driver:hover {
	cursor:pointer;
	box-shadow: 5px 5px 5px black;
	background-color: $hitchGreen;
	transition:1s;

	h2 {
		cursor:pointer;
		color:$hitchGrey;
	}
}


.nav-bar ul li a, .nav-bar ul li a:hover {
	cursor:pointer;


}
