$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;
@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

//styling across all pages

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.largepagebreak {
	height: 6.5em;
}


.col-md-12.pages {
	padding: 0;
	h1 { 
		text-align: center;
		font-family: hitchFontBody;
		font-size: 3.5em;
		color: $hitchGrey;
		margin-top: 1em;
		margin-bottom: 1em;
		}
	h2 {	
		font-family: hitchFontBody;
		color: $hitchGreen;
		font-size: 2em;
		padding-top: 0px;
		padding-bottom: 1em;
       }
  
	h3 {
		font-family: hitchFontBody;
		color: $hitchGrey;
		margin-top: 4em;
		margin-left: 4em;
	}
	p {
		font-family: hitchFontBody;
		color: $hitchGreen;
		padding: 1em;
	}

}


//even numbered pages which have green background

.col-md-12.pages.even {
	background-color: $hitchGreen;
	padding-bottom: 5em;
	h2 {
		color: white;
	}

	li {
		color: white;
	}

	h3 {
		color: white;
	}

	p {
		color: white;
	}
}


//page 2 styling
.passengers {
	float: left;
	padding-left: 1em;
}

.drivers {
	float: right;
	padding-right: 1em;
}

//page 2 numbered list

//number list column
ol.numbers {
	list-style-type: none;
    list-style-type: decimal;
     
    margin: 0;
    margin-left: 6em;
    padding: 0;
     
    counter-reset: li-counter;
}

//the list text itself
ol.numbers > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    font-family: hitchFontBody;
	color: $hitchGreen;
	font-size: 1.2em;
	//padding: 0.6em;
	list-style: none;
}

ol.numbers > li:before {
    position: absolute;
    top: 0;
    left: -1.55em;
    width: 1.5em;
    height: 1.5em;
     
    font-size: 2.5em;
    line-height: 1.4;
    text-align: center;
    color: white;
 
    //border: 3px solid #689379;
    border-radius: 50%;
    background-color: $hitchGrey;
    content: counter(li-counter);
    counter-increment: li-counter;
}

//page 3 styling

.userdesc {
	p {
		padding-top: 2em;
	}

}

.userpic {
	float: left;
	background-color: $hitchGreen;
	border-radius: 80%;
	width: 9em;
	height: 9em;
}

.col-md-8.page3 {
	h2 {
		padding: 0px;
	}
}

//page 4

.offerpic {
	float: left;
	background-color: white;
	width: 17em;
	height: 7em;
	margin-bottom: 1.5em;
	margin-left: 7em;
}

//page 5

.tree {
	height: 40em;
	width: 40em;
	margin-left: 4em;

}

.col-md-6.carshare {

	h2 {
	padding: 1em;
	color: white;
	font-weight: bold;
	text-align: center;

	}
	margin-top: 5em;
	margin-left: 1em;
}

.carsharelist {
	padding-top: 2em;
	padding-bottom: 1em;
	margin-top: -3em;
	}

//numbered lists for carshare

//number list column
ol.carshare {
	list-style-type: none;
    list-style-type: decimal;
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}

//the list text itself
ol.carshare > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 4em;
    border-left: 2px solid #CCCCCC;
    list-style: none;
     font-family: hitchFontBody;
	color: white;
	font-size: 1.2em;
}

ol.carshare > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: white;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

.col-md-6.page5main {
	h1 {
		color: white;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	h2 {
		margin-top: 3em;
	}
	background-color: $hitchGrey;
	height: 48em;
}


//page 6

#page6 {
	//text-align: center;
	//margin-bottom: 2em; 
	//width: 21em;
	//margin-left: auto;
	//margin-right: auto;
	text-align: center;
	margin-bottom: 2em;
	width: 15em;
	margin-left: 1em;
	color: grey;
}	

.ambassador {
	width: 30em;
	height: 20em;
	border-radius: 10%;
	margin-top: -2em;
	margin-left: 3em;
	margin-bottom: 0px;
}
.col-md-12.pages.even.page6 {
	h1 {
		color: #9BD3AF;
		width: 15em;
		margin-left: 0.5em;
	}
	background-image: url("/images/IMG_3709.JPG");
	background-size: 100%;
}

.col-md-6.page6 {
	ul {
		font-family: hitchFontBody;
		list-style: none;
	}
	li {
		padding: 1em;
	}
	margin-left: 38em;
	margin-top: 2em;
}


//footer

.footer-wrapper {
  height: 7em;
  background-color: $hitchGrey;
  padding-top: 1em;
  border-top: grey 1px solid;
}

.footer-heading{
  padding-left: 1em;
  padding-top: 0px;
  font-family: hitchFontBody;
  color: white;
  display: inline;
}

.footerimg {
	img {
		height: 3em;
		width: 3em; 
		display: inline;
	}
	p { 
		display: inline;
		font-family: hitchFontBody;
		font-size: 1em;
		color: white;
	}
}

.signup {
	float: right;
	margin-right: 4em;
}



