$hitchGreen: #9BD3AF;
$hitchGrey: #5b5757;
@font-face {
    font-family: hitchFontTitles;
    src: url(/fonts/WalkwayBlack.ttf);
}

@font-face {
    font-family: hitchFontSubtitles;
    src: url(/fonts/WalkwayExpandBlack.ttf);
}

@font-face {
    font-family: hitchFontBody;
    src: url(/fonts/WalkwaySemiBold.ttf);
}

//styling across all pages

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;

}

.largepagebreak {
	height: 2.5em;
}


.col-md-12.pages {
	padding: 0;
	height: 100vh;
	h1 { 
		text-align: center;
		font-family:'Oxygen', sans-serif;
		font-size: 3.5em;
		color: $hitchGrey;
		margin-top: 2.5em;
		margin-bottom: 1em;
		}
	h2 {	
		font-family: 'Oxygen', sans-serif;
		color: $hitchGreen;
		font-size: 2em;
		padding-top: 0px;
		padding-bottom: 1em;
       }
  
	h3 {
		font-family: 'Oxygen', sans-serif;
		color: $hitchGrey;
		margin-top: 4em;
		margin-left: 4em;
	}
	p {
		font-family: 'Oxygen', sans-serif;
		color: $hitchGreen;
		padding: 2em;
	}

}


//even numbered pages which have green background

.col-md-12.pages.even {
	background-color: $hitchGreen;
	padding-bottom: 3em;
	height: 100vh;
	h2 {
		color: white;
	}

	li {
		color: white;
	}

	h3 {
		color: white;
	}

	p {
		color: white;
	}
}


//page 2 styling
.passengers {
	float: left;
	padding-left: 5em;
}

.drivers {
	float: right;
	padding-right: 5em;
}

#pass {
	font-weight: bold;
	font-color: $hitchGrey;
}

//page 2 numbered list

//number list column
ol.numbers {
	list-style-type: none;
    list-style-type: decimal;
     
    margin: 0;
    margin-left: 6em;
    padding: 0;
     
    counter-reset: li-counter;
}

//the list text itself
ol.numbers > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    font-family: 'Oxygen', sans-serif;
	color: $hitchGreen;
	font-size: 1.2em;
	//padding: 0.6em;
	list-style: none;
}

ol.numbers > li:before {
    position: absolute;
    top: 0;
    left: -1.55em;
    width: 1.5em;
    height: 1.5em;
     
    font-size: 2.5em;
    line-height: 1.4;
    text-align: center;
    color: white;
 
    //border: 3px solid #689379;
    border-radius: 50%;
    background-color: $hitchGrey;
    content: counter(li-counter);
    counter-increment: li-counter;
}

ol.numbers > li:hover::before {
	font-weight: bold;
	color: $hitchGreen;
}

//page 3 styling

.userdesc {
	p {
		padding-top: 2em;
	}

}

.userpic {
	float: left;
	background-color: $hitchGreen;
	border-radius: 80%;
	width: 9em;
	height: 9em;
}

.col-md-8.page3 {
	h2 {
		padding: 0px;
	}
}

.row.pages {
	margin-left: 5em;
	margin-right: 5em;
}

//page 4

.offerpic {
	float: left;
	background-color: white;
	width: 17em;
	height: 7em;
	margin-bottom: 1.5em;
	margin-left: 2em;
}

//page 5

.container-fluid.environ {
	background-color: $hitchGrey;
}
.tree {
	height: 30em;
	width: 30em;
	margin-left: 7em;
	margin-top: 9em;

}

.col-md-6.carshare {

	h2 {
	padding: 1em;
	color: white;
	font-weight: bold;
	text-align: center;

	}
	margin-top: 5em;
	margin-left: 1em;
}

.carsharelist {
	padding-top: 2em;
	padding-bottom: 1em;
	margin-top: -3em;
	margin-left: 5em;
	}

//numbered lists for carshare

//number list column
ol.carshare {
	list-style-type: none;
    list-style-type: decimal;
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}

//the list text itself
ol.carshare > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 4em;
    border-left: 2px solid #CCCCCC;
    list-style: none;
     font-family: 'Oxygen', sans-serif;
	color: white;
	font-size: 1.2em;
	text-align: left;
}

ol.carshare > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: white;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

ol.carshare > li:hover::before {
	color: $hitchGreen;
}

.col-md-6.page5main {
	h1 {
		color: white;

		margin-bottom: 2em;
		margin-left: 2em;
		margin-top: 2.5em;
		width: 12em;
	}
	h2 {
		width: 21em;
		margin-left: 5em;
	}
	background-color: $hitchGrey;
	height: 48em;
}


//page 6

#page6 {

	text-align: center;
	margin-bottom: 2em;
	width: 21em;
	margin-left: auto;
	margin-right: auto;
	color: grey;
}	

.ambassador {
	width: 30em;
	height: 20em;
	border-radius: 10%;
	margin-top: -2em;
	margin-left: 3em;
	margin-bottom: 0px;
}
.col-md-12.pages.even.page6 {
	h1 {
		color: #9BD3AF;
		width: 16em;
		margin-left: 5em;
	}
	background-image: url("/images/IMG_3338.JPG");
	background-size: 100%;
}

#amb {
	color: #5b5757;
	font-size: 1.3em;
	background-color: #9BD3AF;
	width: 11em;
	height: 11em;
	opacity: 0.8;
	float: left;
	padding-top: 1.5em;
	margin-right: 8em;
	text-align: center;
}

#amb:hover {
	opacity: 0.9;
}
.amb {
	margin-left: 13em;
	width: 77em;
}

//footer

.footer-wrapper {
  height: 7em;
  background-color: $hitchGrey;
  padding-top: 1em;
  border-top: grey 1px solid;
}

.footer-heading{
  padding-left: 2em;
  padding-top: 0px;
  font-family: 'Oxygen', sans-serif;
  color: white;
  display: inline;
  font-size: 1.4em;
  float: left;

}

.footerimg {
	margin-top: 1em;
	img {
		height: 3em;
		width: 3em; 
		display: inline;
		float: left;
		margin: 0.5em;
	}
	p { 
		display: inline;
		font-family:'Oxygen', sans-serif;
		font-size: 1em;
		color: $hitchGrey;

	}
}

.signup {
	float: right;
	margin-right: 4em;
}

// Form styling

.signupform{
	h2 {
		text-align: center;
		color: white;
		font-family: hitchFontBody;
		font-size: 3em;
		margin-bottom: 2em;
		margin-top: 1em;
	}
}

.theform {
	margin-left: 33em;
}

.indicates-required {
	font-size: 2em;
	font-family: hitchFontBody;
}

.container-fluid.form {
	background-color: $hitchGreen;
	height: 44em;
}

.mc-field-group {
	label {
		font-family: hitchFontBody;
		font-size: 2em;
	}
	padding: 1.5em;
}

.clear {
	input {
		font-family: hitchFontBody;
		font-size: 1.3em;
	}
}


//footer buttons styling

.btn {
	float: right;
	margin-left: 1px;
	margin-right: 2px; 
  background: #9BD3AF;
  background-image: -webkit-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -moz-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -ms-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -o-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: linear-gradient(to bottom, #9BD3AF, #9BD3AF);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Helvetica;
  color: #5b5757;
  font-size: 1em;
  padding: 6px 20px 6px 20px;
  border: solid #5b5757 2px;
  text-decoration: none;
}

.btn:hover {
	margin-right: 5px; 
	margin-left: 5px;
  background: #9BD3AF;
  background-image: -webkit-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -moz-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -ms-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: -o-linear-gradient(top, #9BD3AF, #9BD3AF);
  background-image: linear-gradient(to bottom, #9BD3AF, #9BD3AF);
}



